body, html {
   font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
   background: #f5f5f5;
   height: inherit !important;
   overflow-y: scroll !important;
   padding: 5px;
}

.text-center {
    text-align: center;
}

#addServer {
    margin-top: 15px;
}

.servers {
    width: 710px;
    table-layout: fixed;
}

.servers td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.servers .servers-timeout-container {
    width: 275px;
    float: left;
    margin-right: 30px;
}

.servers .servers-interval-container {
    width: 275px;
    float: left;
}


.servers .servers-url {
    width: 580px;
}

.servers .servers-status .material-icons {
    margin-top: -3px;
}

.servers .servers-name {
    width: 580px;
}

.servers .servers-show {
  text-align: center !important;
}

.servers .servers-show .mdl-checkbox {
    width: auto !important;
}


.datasheet-validationRes {
    margin-top: -10px;
    margin-bottom: 10px;
    color: red;
}

.servers tr .datasheet-action {
    visibility: hidden;
    margin-top: -4px;
}

.servers tr:hover   .datasheet-action {
    visibility: visible;
}
