body {
   width: 700px !important;
   font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
   padding: 5px;
   margin: 0;
   background: #f5f5f5;
}

body, html {
    height: auto;
}

#saveChanges {
    width: 200px;
    margin: 10px auto;
    display: block;
}
.text-center {
    text-align: center;
}

.component {
    display: none;
}

#addServer {
    font-size: 14px;
    margin: 15px;
}

.servers {
    border: none;
}

.servers-url {
    width: 50%;
}

.servers-url .mdl-textfield {
    width: 205px;
}

.servers-timeout {
    width: 15%;
}


.servers-timeout .mdl-textfield {
    width: 100px;
}

.servers-interval {
    width: 15%;
}

.servers-interval .mdl-textfield {
    width: 100px;
}

.servers-show {
    width: 10%;
}

.servers-action {
    width: 10%;
}

.servers {
    clear: both;
    margin-bottom: 8px;
    width: 100%;
}

.servers tr td {
    vertical-align: top;
}

.servers tr {
    margin: 0;
    height: 30px;
    padding: 0;
}

.servers td {
    padding: 4px;
    margin: 0;
}

.datasheet-action {
    cursor: pointer;
}

.servers .datasheet-action {
    visibility: hidden;
}

.servers tr:hover .datasheet-action,
.servers td:hover .datasheet-action {
    visibility: visible;
}

.servers .datasheet-validationRes div {
    color: red;
    margin-bottom: 4px;
}
.servers .datasheet-validationRes div:last-child {
    margin-bottom: none;
}
