body {
   width: 500px;
}

#serviceUrl {
    width: 350px;
}

#timeOut {
    width: 60px;
}

#interval {
    width: 60px;
}

#saveChanges {
    width: 200px;
    margin: 10px auto;
    display: block;
}
